@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}
.pageNotFoundContainer {
  background-image: url('images/test.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
}

.mpageNotFoundContainer-message-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 70vw;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-actions {
  margin-top: 10px;
  text-align: right;
}

.modal-actions button {
  margin-left: 10px;
}
